<form action="/payment/results">
  <label for = "apr"> APR </label>
  <input id = "apr" type = "text" placeholder = "E.g. 5.42" name  = "user_apr">
  </input>

  <label for = "years"> Number of years </label>
  <input id = "years" type = "text" placeholder = "How many years to repay?" name  = "user_years">
  </input>

  <label for = "input_max"> Principal </label>
  <input id = "input_max" type = "text" placeholder = "How much principal?" name  = "user_principal">
  </input>

  <button> Calculate monthly payment </button>

</form>
