<form action="/random/results">
  <label for = "input_min"> Minimum </label>
  <input id = "input_min" type = "text" placeholder = "E.g. 1.5" name  = "user_min">
  </input>

  <label for = "input_max"> Maximum </label>
  <input id = "input_max" type = "text" placeholder = "E.g. 4.5" name  = "user_max">
  </input>

  <button> Pick random number </button>

</form>
