<form action="/square_root/results">
  <label for = "root_calc"> Enter a number </label>
  <input id = "root_calc" type = "text" placeholder = "Enter a number" name  = "number_for_root">

  </input>

  <button> Calculate square root </button>

</form>
