<form action="/square/results">
  <label for = "square_calc"> Enter a number </label>
  <input id = "square_calc" type = "text" placeholder = "What number do you want to square?" name  = "number">

  </input>

  <button> Calculate square </button>

</form>
